<a
  href="https://discord.com/api/oauth2/authorize?client_id=866132102164250645&redirect_uri=http%3A%2F%2Flocalhost%3A4200&response_type=code&scope=identify%20guilds.join"
  >Login with dscorf</a
>
<br />
<br />
<br />
<br />
<a
  href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&prompt=consent&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&response_type=code&client_id=72244162417-psvcd3vtb4qlrqvu4152gaitenr1k8t1.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fgoogle"
  >Google Login</a
>

<router-outlet></router-outlet>
